<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WashAndShine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2269DED61C5A196A00B89134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2269DEED1C5A196A00B89134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2269DEF81C5A196A00B89134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
